html
    head
        link(rel="stylesheet" href="/skeleton.css")
        link(rel="stylesheet" href="/countdown.css")
        link(rel="icon" href="/icon.png" type="image/png")
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title CryptX

    body
        .container
            .vh
                .center
                    h1 CryptX
                    //- h5.mono Coming soon
                    //- h5(style="margin-bottom: 2em") 29th May, 2020, 3:14 PM
                    //- a(href="//minet.co") 
                        button MINET
        footer
            .container
                h4.center
                    a(href="//minet.co").minet.blue MINET
        //- p.center
            img.x(src="logo-x-blueblack.png" alt="" draggable="false")